@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  background-color: #f8f5f2;
  font-family: 'Quicksand'
}

.header {
  text-align: center;
}
h1 {
  border: 4px solid black;
  color: #232323;
  text-align: center;
  font-size: 4rem;
  font-weight: 500px;
  background-color: #078080;
  border-radius: 30px;
  display: inline-block;
  padding:10px
}

h2 {
  text-align: center;
  font-size: large;
  color: red;
}

body {
  font-family: "Lato", sans-serif;
  transition: 0.2s;
  justify-content: center;
}

.link {
color: #232323;
  margin: 10px;
  font-size: large;
  display: inline-block;
  background-color: #f45d48;
  font-weight: bold;
  text-decoration: none;
  /* Remove underline */
  border: 1px solid black;
  /* Set border to black */
  border-radius: 12px;
  /* Rounded edges */
  padding: 10px;
}

.Game-Keyboard-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}