* {
  background-color: #f8f5f2;
}

h1 {
  color: #232323;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  text-align: center;
  font-size: large;
  color: red;
}

body {
  font-family: "Lato", sans-serif;
  transition: 0.2s;
  justify-content: center;
}

.link {
  color: #232323;
  margin: 10px;
  font-size: large;
  display: inline-block;
}

.Game-Keyboard-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}