.word-game {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans Mono', monospace;
  width: 100%;
  font-size: 30px;
}

.difficulty-selector {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word-game-container {
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #f8f5f2;
  color: #000000;
  border: 4px solid #078080;
  width: 100%;
  height: auto;
  max-height: 300px;
  overflow: hidden;
  padding: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-field {
  opacity: 0;
  z-index: -999;
  position: absolute;
}

.test {
  background-color: #f8f5f2;
}

.text-field {
  background-color: #f8f5f2;
}

.start-game-text {
  background-color: #f8f5f2;
  color: #000000;
}

.stats-return {
  text-align: center;
  background-color: #f8f5f2;
  font-size: 30px;
  color: #FAF9F6;
}

.result {
  width: 70%;
  display: flex;
  align-items: stretch;
  margin: 20px 0;
}

.statistics {
  background-color: #f8f5f2;
  color: #FAF9F6;
  padding: 8px;
  border: 1px solid black;
  margin: 0 10px;
}

.accuracy {
  flex: 1.3;
}

.wpm,
.cpm {
  flex: 0.8;
}

span.active {
  background-color: grey;
}

.char {
  user-select: none;
  cursor: text;
  background-color: #f8f5f2;
}

.char.correct {
  color: #078080;
}

.char.incorrect {
  color: #ff6962;
}

button {
  background-color: #FAFBFC;
  border: 1px solid black;
  border-radius: 6px;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 16px;
}

.selection {
  background-color: #f8f5f2;
  color: #FAF9F6;
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.DropDown,
.Refresh,
.time-r {
  background-color: #f8f5f2;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 0 5px;
  flex: 1;
  text-align: center;
  color: black;
}

.time-r {
  flex: 2;
}