.word-game{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans Mono', monospace;
}

.word-game-container{
    background-color: #625851;
    color: #B0B0B0;
    border: 1px solid black;
    width: 70%;
    height: auto; /* Change from fixed height to auto */
    max-height: 300px; /* Optional: Set a max height to limit expansion */
    overflow: hidden; /* Prevent overflow if content exceeds max height */
    padding: 4px;
    display: flex; /* Use flexbox for child alignment */
    flex-direction: column; /* Arrange child elements vertically */
    flex-wrap: wrap; /* Allow wrapping of child elements */
}

.input-field{
    opacity: 0;
    z-index: -999;
    position: absolute;
  }

  .test{
    background-color: #625851;
  }


  .result {
    width: 70%;
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
  }

  .statistics{
    background-color: #625851;
    color: #FAF9F6;
    padding-right: 2px;
    padding-left: 4px;
    border: 1px solid black;
    margin: 0;
  }

.time-r{
    flex:1.9;
  }
.accuracy{
    flex:1.3;
}
.wpm{
    flex:0.8;
}
.cpm{
    flex:0.8;
}

span.active{
    background-color: grey;
}

.char{
  user-select: none;
  cursor: text;
  background-color: #625851;
}

.char.correct{
    color: #FAF9F6;
}

.char.incorrect{
    color: #ff6962
}

.Refresh{
  border: 1px solid black;
}


button{
  background-color: #FAFBFC;
  border: 1px solid black;
  border-radius: 6px;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 16px;
}